﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="iletisim.aspx.cs" Inherits="webÖdev.iletisim" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <style type="text/css">
        .auto-style1 {
            width: 415px;
            height: 287px;
        }
        .auto-style2 {
            height: 112px;
        }
        .auto-style3 {
            height: 56px;
        }
        .auto-style4 {
            margin-top: 0px;
        }
    </style>
</head>
<body style="height: 51px; background-color:#808080 ;font-size:large;font-weight:700 ;color:black;background-image:url(img/arkaa.jpg)">
     <p>
                    HÜSEYİN FATİH KAZAN<br />
                    SAKARYA ÜNİVERSİTESİ<br />
                    huseyin.kazan@ogr.sakarya.edu.tr<br />
                    ARDA VURAL<br />
                    SAKARYA ÜNİVERSİTESİ<br />
                   arda.vural@ogr.sakarya.edu.tr<br />
                    UYGAR AHMET SAPMAZ<br />
                    SAKARYA ÜNİVERSİTESİ<br />
                    uygar.sapmaz@ogr.sakarya.edu.tr
    </p>
    

    <form id="form1" runat="server" aria-busy="False" class="auto-style2">
        <div>
            Bize Ulaşın</div>
        <p>
            &nbsp;</p>
        <p>
            &nbsp;</p>
        <table class="auto-style1">
            <tr>
                <td class="auto-style3">
                    <asp:TextBox ID="txtİsim" runat="server" Height="32px" Width="400px">İsim</asp:TextBox>
                </td>
            </tr>
            <tr>
                <td>
                    <asp:TextBox ID="txtEmail" runat="server" CssClass="auto-style4" Height="40px" Width="399px">Email</asp:TextBox>
                </td>
            </tr>
            <tr>
                <td>
                    <asp:TextBox ID="txtMesaj" runat="server" Height="130px" Width="397px">Mesaj</asp:TextBox>
                </td>
            </tr>
            <tr>
                <td>
                    <asp:Button ID="btnYolla" runat="server" Height="25px" OnClick="btnYolla_Click" Text="Gönder" Width="407px" />
                </td>
            </tr>
        </table>
    </form>
   
</body>
</html>
