body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  background: #ecf0f1;
  background: -moz-radial-gradient(center, ellipse cover, #ecf0f1 0%, #bdc3c7 100%);
  background: -webkit-radial-gradient(center, ellipse cover, #ecf0f1 0%, #bdc3c7 100%);
  background: radial-gradient(ellipse at center, #ecf0f1 0%, #bdc3c7 100%);
  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ecf0f1', endColorstr='#bdc3c7', GradientType=1);
  display: table;
}

.login-wrapper {
  display: table-cell;
  vertical-align: middle;
  font-family: 'Hind', sans-serif;
  font-weight: 300;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.login-wrapper * {
  transition: all 1s;
}

.login-wrapper .login-panel {
  box-sizing: border-box;
  display: table;
  background-color: white;
  width: 500px;
  margin: 0 auto;
  padding: 60px 40px 40px 40px;
  animation: fade-in 1s ease-in 0s 1 alternate;
}

.login-wrapper .login-panel:hover {
  box-shadow: 0 0 50px rgba(1, 1, 1, .3);
}

.login-wrapper .login-panel label {
  font-size: 16px;
  display: block;
  margin: 5px 0;
  color: #34495e;
  opacity: 0;
  animation: fade-in 1s ease-in 1s 1 forwards;
}
.login-wrapper .login-panel input[type="surname"] + label,
.login-wrapper .login-panel input[type="name"] + label,
.login-wrapper .login-panel input[type="email"] + label,
.login-wrapper .login-panel input[type="password"] + label {
  position: relative;
  color: #c4cacd;
  transition: all .3s;
  animation: label .3s ease-in 0s 1 forwards;
  animation-play-state: paused;
  animation-play-state: running;
}
.login-wrapper .login-panel input[type="surname"]:focus + label,
.login-wrapper .login-panel input[type="name"]:focus + label,
.login-wrapper .login-panel input[type="email"]:focus + label,
.login-wrapper .login-panel input[type="password"]:focus + label {
  font-size: 16px;
  color: #34495e;
  animation-fill-mode: forwards;
}
.login-wrapper .login-panel input[type="surname"],
.login-wrapper .login-panel input[type="name"],
.login-wrapper .login-panel input[type="email"],
.login-wrapper .login-panel input[type="password"],
.login-wrapper .login-panel input[type="submit"] {
  font: 400 20px 'Hind', sans-serif;
  width: 100%;
  box-sizing: border-box;
  border: 0;
  border-left: 3px solid transparent;
  box-shadow: none;
  border-radius: none;
  display: block;
  padding: 10px 20px;
  opacity: 0;
  animation: fade-in 1s ease-in 1.5s 1 forwards;
}
.login-wrapper .login-panel input[type="surname"],
.login-wrapper .login-panel input[type="name"],
.login-wrapper .login-panel input[type="email"],
.login-wrapper .login-panel input[type="password"],
.login-wrapper .login-panel input[type="checkbox"] {
  margin-bottom: 20px;
  background-color: #ecf0f1;
  color: #34495e;
}
.login-wrapper .login-panel input[type="surname"]:focus,
.login-wrapper .login-panel input[type="name"]:focus,
.login-wrapper .login-panel input[type="email"]:focus,
.login-wrapper .login-panel input[type="password"]:focus {
  background-color: #E1E6E7
}
.login-wrapper .login-panel input[type="surname"]:focus,
.login-wrapper .login-panel input[type="name"]:focus,
.login-wrapper .login-panel input[type="email"]:focus,
.login-wrapper .login-panel input[type="password"]:focus,
.login-wrapper .login-panel input[type="submit"]:focus {
  outline: none;
}
.login-wrapper .login-panel input[type="surname"]:valid,
.login-wrapper .login-panel input[type="name"]:valid,
.login-wrapper .login-panel input[type="email"]:valid,
.login-wrapper .login-panel input[type="password"]:valid {
  border-left: 3px solid #3498db;
}
.login-wrapper .login-panel input[type="surname"]:valid + label,
.login-wrapper .login-panel input[type="name"]:valid + label,
.login-wrapper .login-panel input[type="email"]:valid + label,
.login-wrapper .login-panel input[type="password"]:valid + label {
  color: #3498db !important;
}

.login-wrapper .login-panel input[type="checkbox"] {
  opacity: 0;
  position: absolute;
}

.login-wrapper .login-panel input[type="checkbox"],
.login-wrapper .login-panel label[for='remember'] {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.login-wrapper .login-panel label[for='remember'] {
  position: relative;
  font-size: 16px;
  margin-top: -25px;
}

.login-wrapper .login-panel input[type="checkbox"] + [for='remember']:before {
  content: '';
  background: #ecf0f1;
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  text-align: center;
  opacity: 0;
  animation: fade-in 1s ease-in 2s 1 forwards;
}

.login-wrapper .login-panel input[type="checkbox"]:checked + [for='remember']:before {
  background: #3498db;
  box-shadow: inset 0px 0px 0px 5px #ecf0f1;
}

.login-wrapper .login-panel input[type="checkbox"]:checked + [for='remember'] {
  color: #3498db;
}

.login-wrapper .login-panel input[type="checkbox"]:focus + [for='remember'] {
  outline: 1px solid #ddd;
}

.login-wrapper .login-panel input[type="submit"] {
  text-transform: uppercase;
  width: 100%;
  background-color: #3498db;
  color: white;
  font-weight: 300;
  letter-spacing: 10px;
  margin-top: 15px;
  cursor: pointer;
}

.login-wrapper .login-panel input[type="submit"]:hover {
  background-color: #2980b9;
}

.login-wrapper .login-panel .forget-password {
  margin-top: 20px;
  display: block;
  text-align: center;
  color: #bdc3c7;
  font-size: 14px;
  cursor: pointer;
  opacity: 0;
  animation: fade-in 1s ease-in 2s 1 forwards;
}

.login-wrapper .login-panel .forget-password:hover {
  text-decoration: underline;
}
.login-wrapper .login-panel .home {
  margin-top: 20px;
  display: block;
  text-align: center;
  color: #bdc3c7;
  font-size: 14px;
  cursor: pointer;
  opacity: 0;
  animation: fade-in 1s ease-in 2s 1 forwards;
}
login-wrapper .login-panel .home:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .login-wrapper .login-panel {
    width: 90%;
    padding: 60px 20px 20px 20px;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes label {
  0% {
    top: -58px;
    left: 20px;
    opacity: 1;
  }
  100% {
    top: -98px;
    left: 0;
    opacity: 1;
  }
}
/* Off-topic */

.adobewordpress {
  position: absolute;
  width: 100%;
  right: 0;
  left: 0;
  text-align: center;
  bottom: 10px;
}

.adobewordpress img {
  width: 30px;
  opacity:.3;
  transition:all .5s;
}

.adobewordpress img:hover {
  width: 60px;
  opacity:1;
  -ms-transform: rotate(15deg);
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
}