﻿@model IEnumerable<webÖdev.Models.tblKullanici>
@using System.Data.SqlClient;
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Scripts/giris.css")
    <title>Index</title>
</head>
<body>

    <section class="login-wrapper">
        <form class="login-panel">
            <input type="email" id="mail" required>
            <label for="mail" unselectable="on">Mail</label>
            <input type="password" id="password" required>
            <label for="password" unselectable="on">Şifre</label>
            <input type="checkbox" id="remember">
            <label for="remember" class="remember"> Beni Hatırla</label>
            <input type="submit" href="index.html" value="Oturum Aç">
            <a class="forget-password">Şifrenizi Mi Unuttunuz?</a>
            <a class="user" href="kayit.html">Üye Ol</a>
            <a class="home" href="index.html">Ana Sayfa</a>
        </form>
    </section>


</body>
</html>
