﻿@model webÖdev.Models.paket_eng

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("UAF TRAVEL", "giris_eng", "anaSayfa", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "giris_eng", "anaSayfa")</li>
                    <li>@Html.ActionLink("Packets", "Index", "paket_eng")</li>
                    <li>@Html.ActionLink("Contact", "defaultIletisim_eng", "Page")</li>
                    <li>@Html.ActionLink("Sign Up", "Index", "uyeOl_eng.aspx")</li>
                    <li>@Html.ActionLink("Sign In", "Index", "KullaniciGirisi_eng.aspx")</li>
                </ul>
            </div>
        </div>
    </div>
        <div>
            <h4>paket_eng</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.day1)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.day1)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.day2)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.day2)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.day3)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.day3)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.day4)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.day4)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.day5)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.day5)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.day6)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.day6)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.day7)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.day7)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.day8)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.day8)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.day9)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.day9)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.day10)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.day10)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.fiyatlar_eng.expence1)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.fiyatlar_eng.expence1)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.fiyatlar_eng.expence2)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.fiyatlar_eng.expence2)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.fiyatlar_eng.expence3)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.fiyatlar_eng.expence3)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.fiyatlar_eng.expence4)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.fiyatlar_eng.expence4)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.fiyatlar_eng.expence5)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.fiyatlar_eng.expence5)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.fiyatlar_eng.expence6)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.fiyatlar_eng.expence6)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.fiyatlar_eng.expence7)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.fiyatlar_eng.expence7)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.fiyatlar_eng.expence8)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.fiyatlar_eng.expence8)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.fiyatlar_eng.expence9)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.fiyatlar_eng.expence9)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.fiyatlar_eng.expence10)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.fiyatlar_eng.expence10)
                </dd>
            </dl>
        </div>
        <p>
            @Html.ActionLink("Back to List", "Index")
        </p>
</body>
</html>
