﻿@model IEnumerable<webÖdev.Models.paket_eng>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("UAF TRAVEL", "giris_eng", "anaSayfa", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "giris_eng", "anaSayfa")</li>
                    <li>@Html.ActionLink("Packets", "Index", "paket_eng")</li>
                    <li>@Html.ActionLink("Contact", "defaultIletisim_eng", "Page")</li>
                    <li>@Html.ActionLink("Sign Up", "Index", "uyeOl_eng.aspx")</li>
                    <li>@Html.ActionLink("Sign In", "Index", "KullaniciGirisi_eng.aspx")</li>
                </ul>
            </div>
        </div>
    </div>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.day1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.day2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.day3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.day4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.day5)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.day6)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.day7)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.day8)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.day9)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.day10)
            </th>
            
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.day1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.day2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.day3)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.day4)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.day5)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.day6)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.day7)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.day8)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.day9)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.day10)
                </td>
                
                <td>
                    @Html.ActionLink("Details", "Details", new { id = item.mevsimID }) |
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.fiyatlar_eng.expence1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fiyatlar_eng.expence2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fiyatlar_eng.expence3)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fiyatlar_eng.expence4)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fiyatlar_eng.expence5)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fiyatlar_eng.expence6)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fiyatlar_eng.expence7)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fiyatlar_eng.expence8)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fiyatlar_eng.expence9)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fiyatlar_eng.expence10)
                </td>
            </tr>
        }

    </table>
</body>
</html>
