﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>BREZİLYA'YI GEZİN</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Galeri</h2>
        <p>
            Breziya'nın eşsiz güzelliklerini fotoğraflarla görün
        </p>
        <p><a class="btn btn-default" @Html.ActionLink("GALERİ", "galeri", "Home")</a></p>
    </div>
    <div class="col-md-4">
        <h2>Bilgiler</h2>
        <p>Brezilya ile bilgiler için tıklayın </p>
        <p><a class="btn btn-default" @Html.ActionLink("BİLGİLER", "bilgiler", "Home")</a></p>
    </div>
    <div class="col-md-4">
        <h2>Haritada Brezilya</h2>
        <p>Brezilyayı haritada inceleyebilirsiniz </p>
        <iframe src="https://www.google.com/maps/embed?pb=" width="300" height="175" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</div>
