﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr-TR">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="img/logoo.png">
    <meta name="author" content="ArdaVural">
    <meta name="description" content="WebProje">
    <meta name="keywords" content="Brezilya">
    <meta charset="UTF-8">
    <title>Brezilya</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">

    <!--CSS============================================= -->
    <link rel="stylesheet" href="/Content/linearicons.css">
    <link rel="stylesheet" href="/Content/font-awesome.min.css">
    <link rel="stylesheet" href="/Content/jquery.DonutWidget.min.css">
    <link rel="stylesheet" href="/Content/bootstrap.css">
    <link rel="stylesheet" href="/Content/owl.carousel.css">
    <link rel="stylesheet" href="/Content/main.css">
    <link rel="stylesheet" href="/Content/slider.css">

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("UAF TRAVEL", "giris", "anaSayfa", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Ana Sayfa", "giris", "anaSayfa")</li>
                    <li>@Html.ActionLink("Paketler", "Index", "paket")</li>
                    <li>@Html.ActionLink("İletişim", "Index", "Page")</li>
                    <li>@Html.ActionLink("Üye Ol", "Index", "uyeOl.aspx")</li>
                    <li>@Html.ActionLink("Oturum Aç", "Index", "KullaniciGirisi.aspx")</li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Header Bitiş -->
    <!-- Hakkında Başlangıç-->
    <section class="hakkinda-area pt-100 pb-150" id="hakkinda" style="padding-top: 75px;">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="menu-content pb-70 col-lg-8" style="padding-bottom: 20px;">
                    <div class="title text-center">
                        <h1 class="mb-10">Brezilya Hakkında</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="sigle-service col-lg-3 col-md-6">
                    <p>
                        <h5>Genel Özellikleri</h5>
                        <br>
                        ~Brezilya ya da resmî adıyla Brezilya Federal Cumhuriyeti, Güney Amerika'da yer alan, kıtanın en büyük ve en kalabalık ülkesidir. Uzun bir Atlas Okyanusu kıyısı vardır<br>
                        ~Başkenti Brasilia'dır.<br>
                        ~Brezilyanın yüz ölçümü 8.818.767 kilometrekaredir.(Bu büyüklük ülkemiz topraklarının 11 katına yakın bir büyüklüğe sahiptir.)<br>
                        ~Nüfusu 207.7 milyon (2016) civarındadır.
                    </p>
                    <p>
                        <h5>Din ve İnanç</h5>
                        <br>
                        Nüfusun yaklaşık %81’i Katolik<br>
                        %18’i Protestan <br>
                        %1’i ise Müslüman ve Musevidir.
                    </p>
                </div>
                <div class="sigle-service col-lg-3 col-md-6">
                    <p>
                        <h5>Keşfi</h5>
                        <br>
                        21 Nisan 1500 yılında Portekizli bir gemici olan Pedro Alveras Cabrol, Hindistan´a gidiyorum zannıyla Güney Amerika´ya ayak bastı ve ülkeyi Portekiz kralı adına zaptettiğini ilan etti.
                    </p>
                    <p>
                        <h5>Dil</h5>
                        <br>
                        Brezilya'nın resmi dili Portekizce'dir.<br>
                        Ana dil olarak kabul edilen Portekizce'nin yanında, okullarda İngilizce ve İspanyolca dersleri de verilmektedir.
                    </p>
                </div>
                <div class="sigle-service col-lg-3 col-md-6">
                    <p>
                        <h5>İklim</h5>
                        <br>
                        Ülkenin geneline hakim olan Tropik iklim özelliklerine ek olarak Ekvatoryal iklim, Savan iklimi ve Ilıman iklim de kendini göstermektedir.
                    </p>
                    <p>
                        <h5>Eğitim</h5>
                        <br>
                        Brezilya’da 8 senelik zorunlu eğitim devlet okulları tarafından ücretsiz olarak sağlanmaktadır. <br>
                        Yüksek öğrenime devam etmek isteyenler için, devlet okullarının yanı sıra özel okullar da etkinlik göstermektedirler.
                    </p>
                </div>
                <div class="sigle-service col-lg-3 col-md-6">
                    <p>
                        <h5>Spor ve Kültür</h5>
                        <br>
                        Ülkede futbolun halk için önemi tartışılamaz ölçüdedir. Futbola ilgi duymayan ve sevmeyen Brezilyalı neredeyse yok gibidir öyle ki her mahallenin kurulmuş bir futbol takımı mutlaka bulunmaktadır.<br>
                        Beş kez Dünya şampiyonu olduğu futbolun yanı sıra voleybol, basketbol, tenis, yüzme, plaj voleybolu, sörf, otomobil yarışları ve yelkencilik, Brezilya’nın Dünya çapında başarılar elde ettiği diğer spor dallarıdır.<br>
                        Ayrıca Capoeira ve samba, özellikle ülkenin Afrika kökenli kültürünün, bütün dünyada dikkat çektiği folk etkinlikleridir.
                    </p>
                </div>

            </div>
        </div>
    </section>
    <!-- Hakkında Bitiş-->
    <!-- İçerik Başlangıç -->
    <section class="icerik-area section-gap" id="icerik" style="padding-top: 75px;">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="menu-content pb-70 col-lg-8">
                    <div class="title text-center">
                        <h1 class="mb-10">İçerik</h1>
                        <p>Brezilya'yı doğa güzellikleri, tarihi cadde ve yapıları , sahilleri ve kültürü ile tanımaya hazır olun.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 single-blog">
                    <img width="300 " height="200" src="/img/Rio de Janeiro.jpg" alt="">
                    <h5>Rio de Janeiro</h5>
                    <p>
                        Rio de Janeiro, Brezilya’nın en büyük ikinci kenti olup burada ülkenin sembolü olan Kurtarıcı İsa Heykeli ve Maracana Stadyumu bulunur. Ayrıca Festival denilince akla ilk olarak şüphesiz Brezilya gelmektedir. Dünya’da en popüler festivalleri burada yapılmaktadır. Festivallerin başkenti olarak bilinen Rio kentinde her yıl Rio Karnavalı kutlanmaktadır.
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 single-blog">
                    <img width="300 " height="200" src="/img/Rio Karnavali.jpg" alt="">
                    <h5>Rio Karnavalı</h5>
                    <p>
                        Hıristiyanlıktaki “Büyük Perhiz” inancından önce "Dünyanın en büyük festivali" olarak bilinen Rio Karnavalı, her yıl Brezilya'nın Rio de Janeiro kentinde düzenleniyor. Samba okullarının geçit törenine dünyanın dört bir yanından gelen milyonlarca insan tanık oluyor. Brezliya'ya gelmek için EN DOĞRU zaman Rio karnavalının olduğu zamandır.
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 single-blog">
                    <img width="300 " height="200" src="/img/kurtarici isa heykeli.jpg" alt="">
                    <h5>Kurtarıcı İsa Heykeli (Rio de Janeiro)</h5>
                    <p>
                        2007 yılından bu yana dünyanın yeni 7 Harikası'ndan biri olarak belirlenen heykel her yıl 1 milyondan fazla turist çekiyor. 8 metre yüksekliğinde bir yapıya dikilen heykelin kendi yüksekliği 30 metre, ağırlığı da tam 1,145 tondur.
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 single-blog">
                    <img width="300 " height="200" src="/img/Sao_Paulo.jpg" alt="">
                    <h5>São Paulo</h5>
                    <p>
                        12 milyonu aşan nüfusuyla Güney Amerika’nın en büyük şehri olarak bilinen São Paulo
                        turistik bir şehir olup her yıl dünyanın bir çok yerinde insanlar buraya akın etmektedir.<br>
                        Bu şehirde asıl popüler olan ise 1976 yıllından berri yapılan São Paulo Uluslararası Film Festivali’dir. Bu festival oldukça heyecan verici olup çok sayıda kişi katılmaktadır.
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 single-blog">
                    <img width="300 " height="200" src="/img/Porto de Galinhas Pernambuco.jpg" alt="">
                    <h5>Porto de Galinhas (Pernambuco)</h5>
                    <p>
                        Porto de Galinhas, seyahatseverlerin oylamalarıyla tam sekiz kez Brezilya’nın en iyi plajı seçilmiş.  Doğanın kendi yarattığı havuzlarda, birçok tropik balığın size aldırış etmeden etrafınızda dolaştığını farkedeceksiniz. Bu küçük su hücrelerinde, doğadaki en evcil balıklarla yüzebilir, onlarla selfie bile çekebilirsiniz. Burada hiçbir şey gözünüzden gizlenme ihtiyacı duymuyor. Doğanın güzellikleri tüm berraklığıyla önünüze serili bekliyor.
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 single-blog">
                    <img width="300 " height="200" src="/img/Ouro Preto.jpg" alt="">
                    <h5>Ouro Preto (Minas Gerais)</h5>
                    <p>
                        Ayaklarınızın sürekli kum içinde kalmasından sıkılıp biraz da kültürel aktivitelerde bulunmak isteyebilirsiniz. <br>Ouro Preto, madencilerin kurduğu eski bir koloni şehri.
                        Kasabanın adı Kara Altın manasına geliyor.
                        Barok dönemi mimarisinin güzel bir örneği olan bu bölge, Unesco tarafından da Dünya Mirası Listesi kapsamında değerlendiriliyor.
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 single-blog">
                    <img width="300 " height="200" src="/img/Pelourinho.jpg" alt="">
                    <h5>Pelourinho (Salvador)</h5>
                    <p>
                        Afrika ve Brezilya kültürlerinin güzel bir harmonisini göreceğiniz Peleourinho’da, iki kültürün komşuluğundan doğan sesler ve işaretleri yakalayacaksınız.
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 single-blog">
                    <img width="300 " height="200" src="/img/amazon nehri.jpg" alt="">
                    <h5>Amazon Nehri</h5>
                    <p>
                        Amazon Nehri dünyanın en uzun 2. nehri, Amerika Kıtasının en uzun nehridir.<br>Amazon Nehrinin bir diğer önemli özelliği ise çok büyük miktarda su taşımasıdır. Yani debisi çok yüksek olan bir nehirdir.
                        Amazon Nehrinin taşıdığı su miktarının Dünyadaki nehirlerin toplam taşıdığı su miktarının 1/5 ‘lik kısmını tek başına taşıdığı söylenmektedir.
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 single-blog">
                    <img width="300 " height="200" src="/img/sogarloaf dagi.jpg" alt="">
                    <h5>Sogarloaf Dağı (Rio)</h5>
                    <p>
                        396 metre yüksekliğe sahip olan dağın kesmeşekeri andırması bu ismi almasında belirleyici unsur olmuştur.
                        Ayrıca dağcılık meraklılarının Dünyadaki en önemli noktalarından biri haline gelen Kesmeşeker Dağı Brezilya seyahatinizin ilk duraklarından biri olmalıdır.
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 single-blog">
                    <img width="300 " height="200" src="/img/brasilia katedrali.jpg" alt="">
                    <h5>Brasilia Katedrali (Brasilia)</h5>
                    <p>
                        Brezilya'nın başkenti Brasilia'da bulunan katedralin yapımına 1958 yılında başlanmış ve 1970 yılında tamamlanmıştır.<br>Başkentin en değerli kutsal yapısı durumundaki Roman Katolik kilisesi 40 metre yükseklikte olup hiperbolik tasarıma sahiptir. 3200 metrekarelik alanı kapsayan kilisenin ön sol tarafında 3, sağ tarafında 1 adet insan heykeli bulunuyor.
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 single-blog">
                    <img width="300 " height="200" src="/img/Iquazu Selalesi.jpg" alt="">
                    <h5>Iquazu Selalesi</h5>
                    <p>
                        Curitiba kenti civarında iki nehrin kesişerek akmasıyla meydana gelen yeni bir nehrin Arjantin ve Brezilya arasında oluşturduğu olağanüstü şelaledir. Bölge ülkenin en önemli doğal turizm potansiyeline sahiptir ve her yıl yüz binleri ağırlamaktadır.
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 single-blog">
                    <img width="300 " height="200" src="/img/oscar niemeyer muzesi.jpg" alt="">
                    <h5>Oscar Niemeyer Müzesi (Curitiba)</h5>
                    <p>
                        Giriş kısmındaki havuzun üzerinde bulunan göz şeklindeki yapı sebebiyle 'Göz Müzesi' adıyla da anılmaktadır. Yaklaşık 20 galeriden oluşan müze görsel sanat eserlerine, grafik eserlerine ve mimari eserlerine ev sahipliği yapmaktadır. <br>Müze binasının farklı mimarisi ve sahip olduğu ögelerle ziyaret edilmesi gereken yerlerdendir.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- İçerik Bitiş -->
    <script src="/Scripts/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="/Scripts/bootstrap.min.js"></script>
    <script src="/Scripts/jquery.ajaxchimp.min.js"></script>
    <script src="/Scripts/parallax.min.js"></script>
    <script src="/Scripts/owl.carousel.min.js"></script>
    <script src="/Scripts/jquery.sticky.js"></script>
    <script src="/Scripts/jquery.DonutWidget.min.js"></script>
    <script src="/Scripts/jquery.magnific-popup.min.js"></script>
    <script src="/Scripts/main.js"></script>
</body>
</html>