﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr-TR">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="img/logoo.png">
    <meta name="author" content="ArdaVural">
    <meta name="description" content="WebProje">
    <meta name="keywords" content="Brezilya">
    <meta charset="UTF-8">
    <title>Brezilya</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">

    <!--CSS============================================= -->
    <link rel="stylesheet" href="/Content/linearicons.css">
    <link rel="stylesheet" href="/Content/font-awesome.min.css">
    <link rel="stylesheet" href="/Content/jquery.DonutWidget.min.css">
    <link rel="stylesheet" href="/Content/bootstrap.css">
    <link rel="stylesheet" href="/Content/owl.carousel.css">
    <link rel="stylesheet" href="/Content/main.css">
    <link rel="stylesheet" href="/Content/slider.css">

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("UAF TRAVEL", "giris_eng", "anaSayfa", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "giris_eng", "anaSayfa")</li>
                    <li>@Html.ActionLink("Packets", "Index", "paket_eng")</li>
                    <li>@Html.ActionLink("Contact", "defaultIletisim_eng", "Page")</li>
                    <li>@Html.ActionLink("Sign Up", "Index", "uyeOl_eng.aspx")</li>
                    <li>@Html.ActionLink("Sign In", "Index", "KullaniciGirisi_eng.aspx")</li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Header Bitiş -->
    <!-- Hakkında Başlangıç-->
    <section class="hakkinda-area pt-100 pb-150" id="hakkinda" style="padding-top: 75px;">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="menu-content pb-70 col-lg-8" style="padding-bottom: 20px;">
                    <div class="title text-center">
                        <h1 class="mb-10">About Brazil</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="sigle-service col-lg-3 col-md-6">
                    <p>
                        <h5>General features</h5>
                        <br>
                        ~ Brazil or, as its official name, the Federal Republic of Brazil is the largest and most populous country in the continent, located in South America. It has a long Atlantic Ocean coast<br>
                        ~ Capital of Brasilia.<br>
                        ~ Brazilian face measurement is 8,818,767 square kilometers.<br>
                        ~ The population is around 207.7 million (2016).
                    </p>
                    <p>
                        <h5>Religion and Faith</h5>
                        <br>
                        Approximately 81% of the population is Catholic<br>
                        18% Protestant <br>
                        1% is Muslim and Jewish.
                    </p>
                </div>
                <div class="sigle-service col-lg-3 col-md-6">
                    <p>
                        <h5>Discovery</h5>
                        <br>
                        April 21 In 1500, Pedro Alvares Cabrol, a Portuguese sailor, walked to South America with the thought of going to India and declared that he was holding the country on behalf of the Portuguese king.
                    </p>
                    <p>
                        <h5>Language</h5>
                        <br>
                        The official language of Brazil is Portuguese.<br>
                        In addition to Portuguese, the main language is English and Spanish.
                    </p>
                </div>
                <div class="sigle-service col-lg-3 col-md-6">
                    <p>
                        <h5>Climate</h5>
                        <br>
                        In addition to the tropical climatic conditions prevailing throughout the country, the equatorial climate, savanna climate and temperate climate are also evident.
                    </p>
                    <p>
                        <h5>Education</h5>
                        <br>
                        In Brazil, 8-year compulsory education is provided free of charge by public schools. <br>
                        Public schools as well as private schools are active for those who wish to continue their higher education.
                    </p>
                </div>
                <div class="sigle-service col-lg-3 col-md-6">
                    <p>
                        <h5>Sports and Culture</h5>
                        <br>
                        The importance of football for the people in the country is unquestionable. The Brazilian who do not like and do not like football is almost absent, so that every neighborhood has a football team.<br><br>
                        He is a five-time World champion in addition to football, volleyball, basketball, tennis, swimming, beach volleyball, surfing, auto racing and sailing.<br>
                        In addition, Capoeira and samba, especially the African culture of the country, attracting attention all over the world are folk activities.
                    </p>
                </div>

            </div>
        </div>
    </section>
    <!-- Hakkında Bitiş-->
    <!-- İçerik Başlangıç -->
    <section class="icerik-area section-gap" id="icerik" style="padding-top: 75px;">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="menu-content pb-70 col-lg-8">
                    <div class="title text-center">
                        <h1 class="mb-10">İçerik</h1>
                        <p>
                            Be prepared to know Brazil with its natural beauties, historical streets and structures, beaches and culture.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 single-blog">
                    <img width="300 " height="200" src="/img/Rio de Janeiro.jpg" alt="">
                    <h5>Rio de Janeiro</h5>
                    <p>
                        Rio de Janeiro is the second largest city in Brazil, where the symbol of the country is the Statue of Christ the Redeemer and Maracana Stadium. In addition, when it comes to the Festival, there is no doubt that Brazil comes first. The most popular festivals in the world are held here. Rio Carnival is celebrated every year in the city of Rio, known as the capital of the festivals.
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 single-blog">
                    <img width="300 " height="200" src="/img/Rio Karnavali.jpg" alt="">
                    <h5>Rio Carnival</h5>
                    <p>
                        Known as the Kar biggest festival in the world av before the belief of de Great Pity Hır in Christianity, the Rio Carnival is held every year in Rio de Janeiro, Brazil. The parade of the Samba schools witnesses millions of people from all over the world. The best time to come to Brazil is the time of the Rio Carnival.
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 single-blog">
                    <img width="300 " height="200" src="/img/kurtarici isa heykeli.jpg" alt="">
                    <h5>Statue of Christ the Redeemer (Rio de Janeiro)</h5>
                    <p>
                        The sculpture is one of the new 7 Wonders of the world since 2007 and attracts more than 1 million tourists every year. The height of the statue, which is planted on an 8 meter high structure, is 30 meters and its weight is 1,145 tons.
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 single-blog">
                    <img width="300 " height="200" src="/img/Sao_Paulo.jpg" alt="">
                    <h5>São Paulo</h5>
                    <p>
                        Known as the largest city in South America with a population of over 12 million, São Paulo is a touristic city and people are flocking around the world every year.<br>
                        The most popular in this city is the São Paulo International Film Festival since 1976. This festival is very exciting and many people participate.
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 single-blog">
                    <img width="300 " height="200" src="/img/Porto de Galinhas Pernambuco.jpg" alt="">
                    <h5>Porto de Galinhas (Pernambuco)</h5>
                    <p>
                        Porto de Galinhas has been voted Brazil's best beach eight times as many travelers have voted. In the pools of nature created by yourself, you will notice that many tropical fish roam around you without paying attention to you. In these small water cells, you can swim with the most pet fishes in nature and even take a selfie with them. There's nothing in here that needs to be concealed. The beauties of nature are waiting in front of you with all clarity.
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 single-blog">
                    <img width="300 " height="200" src="/img/Ouro Preto.jpg" alt="">
                    <h5>Ouro Preto (Minas Gerais)</h5>
                    <p>
                        You may want to get bored with your feet in the sand and to do some cultural activities.<br>
                        Ouro Preto is an ancient colonial city founded by miners. The town's called Black Gold.<br>
                        This region, which is a beautiful example of Baroque architecture, is considered by UNESCO as a World Heritage List.
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 single-blog">
                    <img width="300 " height="200" src="/img/Pelourinho.jpg" alt="">
                    <h5>Pelourinho (Salvador)</h5>
                    <p>
                        In Pelourinho, where you will see a beautiful blend of African and Brazilian cultures, you will catch the sounds and signs of the neighboring two cultures.
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 single-blog">
                    <img width="300 " height="200" src="/img/amazon nehri.jpg" alt="">
                    <h5>Amazon Nehri</h5>
                    <p>
                        The Amazon River is the longest river in the world, the longest in the Americas.<br>
                        Another important feature of the Amazon River is that it carries a large amount of water. That is a river with very high flow.
                        It is said that the amount of water carried by the Amazon River carries 1/5 of the total amount of water carried by the rivers worldwide.
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 single-blog">
                    <img width="300 " height="200" src="/img/sogarloaf dagi.jpg" alt="">
                    <h5>Sogarloaf Dağı (Rio)</h5>
                    <p>
                        The height of the mountain, which has a height of 396 meters, has been the determining factor in this name.
                        In addition, one of the most important points of mountaineering enthusiasts in the world, Mount Korasheker should be one of the first stops of your trip in Brazil.
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 single-blog">
                    <img width="300 " height="200" src="/img/brasilia katedrali.jpg" alt="">
                    <h5>Brasilia Katedrali (Brasilia)</h5>
                    <p>
                        The cathedral, located in Brasilia, the capital of Brazil, began construction in 1958 and was completed in 1970.<br>
                        The Roman Catholic Church, which is the most valuable sacred structure of the capital, is 40 meters high and has a hyperbolic design. The church, which covers an area of ​​3200 square meters, has 3 human figures on the front left side and 1 human on the right side.
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 single-blog">
                    <img width="300 " height="200" src="/img/Iquazu Selalesi.jpg" alt="">
                    <h5>Iquazu Selalesi</h5>
                    <p>
                        It is an extraordinary waterfall between Argentina and Brazil, a new river formed by the intersection of two rivers in the vicinity of the city of Curitiba. The region has the most important natural tourism potential of the country and welcomes hundreds of thousands every year.
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 single-blog">
                    <img width="300 " height="200" src="/img/oscar niemeyer muzesi.jpg" alt="">
                    <h5>Oscar Niemeyer Müzesi (Curitiba)</h5>
                    <p>
                        It is also known as the 'Eye Museum' due to the eye-shaped structure on the entrance of the pool. The museum, consisting of approximately 20 galleries, is home to visual artworks, graphic works and architectural works. <br>
                        The different architecture and the elements of the museum building are among the places to visit.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- İçerik Bitiş -->
    <script src="/Scripts/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="/Scripts/bootstrap.min.js"></script>
    <script src="/Scripts/jquery.ajaxchimp.min.js"></script>
    <script src="/Scripts/parallax.min.js"></script>
    <script src="/Scripts/owl.carousel.min.js"></script>
    <script src="/Scripts/jquery.sticky.js"></script>
    <script src="/Scripts/jquery.DonutWidget.min.js"></script>
    <script src="/Scripts/jquery.magnific-popup.min.js"></script>
    <script src="/Scripts/main.js"></script>
</body>
</html>