﻿@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    HÜSEYİN FATİH KAZAN<br />
    SAKARYA ÜNİVERSİTESİ<br />
    <p>huseyin.kazan@ogr.sakarya.edu.tr</p>
    ARDA VURAL<br />
    SAKARYA ÜNİVERSİTESİ<br />
    <p>arda.vural@ogr.sakarya.edu.tr</p>
    UYGAR AHMET SAPMAZ<br />
    SAKARYA ÜNİVERSİTESİ<br />
    <p>uygar.sapmaz@ogr.sakarya.edu.tr</p>
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>