﻿
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="tr-TR">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="img/logoo.png">
    <meta name="author" content="ArdaVural">
    <meta name="description" content="WebProje">
    <meta name="keywords" content="Brezilya">
    <meta charset="UTF-8">
    <title>Brezilya</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">

    <!--CSS============================================= -->
    <link rel="stylesheet" href="/Content/linearicons.css">
    <link rel="stylesheet" href="/Content/font-awesome.min.css">
    <link rel="stylesheet" href="/Content/jquery.DonutWidget.min.css">
    <link rel="stylesheet" href="/Content/bootstrap.css">
    <link rel="stylesheet" href="/Content/owl.carousel.css">
    <link rel="stylesheet" href="/Content/main.css">
    <link rel="stylesheet" href="/Content/slider.css">

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("UAF TRAVEL", "giris", "anaSayfa", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Ana Sayfa", "giris", "anaSayfa")</li>
                    <li>@Html.ActionLink("Paketler", "Index", "paket")</li>
                    <li>@Html.ActionLink("İletişim", "Index", "Page")</li>
                    <li>@Html.ActionLink("Üye Ol", "Index", "uyeOl.aspx")</li>
                    <li>@Html.ActionLink("Oturum Aç", "Index", "KullaniciGirisi.aspx")</li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Header Bitiş -->
    <!-- Galeri Başlangıç -->
    <section class="Galeri-area section-gap2" id="Galeri" style="padding-top: 10px;">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="menu-content col-lg-8">
                    <div class="title text-center">
                        <h1>Galeri</h1>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="active-works-carousel">
                    <div class="item">
                        <img class="img-fluid2" src="/img/Pelourinho.jpg" alt="">
                        <div class="caption text-center mt-20">
                            <h6 class="text-uppercase">Pelourinho</h6>
                        </div>
                    </div>
                    <div class="item">
                        <img class="img-fluid2" src="/img/kurtarici-isa-heykeli.jpg" alt="">
                        <div class="caption text-center mt-20">
                            <h6 class="text-uppercase">Kurtarıcı İsa Heykeli</h6>
                        </div>
                    </div>
                    <div class="item">
                        <img class="img-fluid2" src="/img/Rio de Janeiro.jpg" alt="">
                        <div class="caption text-center mt-20">
                            <h6 class="text-uppercase">Rio de Janeiro</h6>
                        </div>
                    </div>
                    <div class="item">
                        <img class="img-fluid2" src="/img/rio_karnavali.jpg" alt="">
                        <div class="caption text-center mt-20">
                            <h6 class="text-uppercase">Rio Karnavalı</h6>
                        </div>
                    </div>
                    <div class="item">
                        <img class="img-fluid2" src="/img/amazon nehri.jpg" alt="">
                        <div class="caption text-center mt-20">
                            <h6 class="text-uppercase">Amazon Nehri</h6>
                        </div>
                    </div>
                    <div class="item">
                        <img class="img-fluid2" src="/img/brasilia katedrali.jpg" alt="">
                        <div class="caption text-center mt-20">
                            <h6 class="text-uppercase">Brasilia Katedrali</h6>
                        </div>
                    </div>
                    <div class="item">
                        <img class="img-fluid2" src="/img/Porto de Galinhas Pernambuco.jpg" alt="">
                        <div class="caption text-center mt-20">
                            <h6 class="text-uppercase">Porto de Galinhas</h6>
                        </div>
                    </div>
                    <div class="item">
                        <img class="img-fluid2" src="/img/Sao_Paulo.jpg" alt="">
                        <div class="caption text-center mt-20">
                            <h6 class="text-uppercase">São Paulo</h6>
                        </div>
                    </div>
                    <div class="item">
                        <img class="img-fluid2" src="/img/oscar niemeyer muzesi.jpg" alt="">
                        <div class="caption text-center mt-20">
                            <h6 class="text-uppercase">Oscar Niemeyer Müzesi</h6>
                        </div>
                    </div>
                    <div class="item">
                        <img class="img-fluid2" src="/img/Iquazu Selalesi.jpg" alt="">
                        <div class="caption text-center mt-20">
                            <h6 class="text-uppercase">Iquazu Selalesi</h6>
                        </div>
                    </div>
                    <div class="item">
                        <img class="img-fluid2" src="/img/pantanal.jpg" alt="">
                        <div class="caption text-center mt-20">
                            <h6 class="text-uppercase">Pantanal</h6>
                        </div>
                    </div>
                    <div class="item">
                        <img class="img-fluid2" src="/img/sogarloaf dagi.jpg" alt="">
                        <div class="caption text-center mt-20">
                            <h6 class="text-uppercase">Sogarloaf Dağı</h6>
                        </div>
                    </div>
                    <div class="item">
                        <img class="img-fluid2" src="/img/Ouro Preto.jpg" alt="">
                        <div class="caption text-center mt-20">
                            <h6 class="text-uppercase">Ouro Preto</h6>
                        </div>
                    </div>
                    <div class="item">
                        <img class="img-fluid2" src="/img/Porto Alegre.jpg" alt="">
                        <div class="caption text-center mt-20">
                            <h6 class="text-uppercase">Porto Alegre </h6>
                        </div>
                    </div>
                    <div class="item">
                        <img class="img-fluid2" src="/img/Fernando de Noronha.jpg" alt="">
                        <div class="caption text-center mt-20">
                            <h6 class="text-uppercase">Fernando de Noronha</h6>
                        </div>
                    </div>
                    <div class="item">
                        <img class="img-fluid2" src="/img/Morro de Sao Paulo.jpg" alt="">
                        <div class="caption text-center mt-20">
                            <h6 class="text-uppercase">Morro de São Paulo</h6>
                        </div>
                    </div>
                    <div class="item">
                        <img class="img-fluid2" src="/img/Fernando de Noronha Pernambuco.jpg" alt="">
                        <div class="caption text-center mt-20">
                            <h6 class="text-uppercase">Fernando de Noronha</h6>
                        </div>
                    </div>
                    <div class="item">
                        <img class="img-fluid2" src="/img/Cascata do Caracol Rio Grande Do Sul.jpg" alt="">
                        <div class="caption text-center mt-20">
                            <h6 class="text-uppercase">Cascata do Caracol</h6>
                        </div>
                    </div>
                    <div class="item">
                        <img class="img-fluid2" src="/img/ilha grande.jpg" alt="">
                        <div class="caption text-center mt-20">
                            <h6 class="text-uppercase">İlha Grande</h6>
                        </div>
                    </div>
                    <div class="item">
                        <img class="img-fluid2" src="/img/Amazon.jpg" alt="">
                        <div class="caption text-center mt-20">
                            <h6 class="text-uppercase">Yağmur Ormanları</h6>
                        </div>
                    </div>
                    <div class="item">
                        <img class="img-fluid2" src="/img/b1.jpg" alt="">
                        <div class="caption text-center mt-20">
                            <h6 class="text-uppercase">São Paulo</h6>
                        </div>
                    </div>
                    <div class="item">
                        <img class="img-fluid2" src="/img/b2.jpg" alt="">
                        <div class="caption text-center mt-20">
                            <h6 class="text-uppercase">Rio de Janeiro </h6>
                        </div>
                    </div>
                    <div class="item">
                        <img class="img-fluid2" src="/img/b3.jpg" alt="">
                        <div class="caption text-center mt-20">
                            <h6 class="text-uppercase">Rio de Janeiro</h6>
                        </div>
                    </div>
                    <div class="item">
                        <img class="img-fluid2" src="/img/b4.jpg" alt="">
                        <div class="caption text-center mt-20">
                            <h6 class="text-uppercase">Pelourinho</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Galeri Bitiş -->
    <script src="/Scripts/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="/Scripts/bootstrap.min.js"></script>
    <script src="/Scripts/jquery.ajaxchimp.min.js"></script>
    <script src="/Scripts/parallax.min.js"></script>
    <script src="/Scripts/owl.carousel.min.js"></script>
    <script src="/Scripts/jquery.sticky.js"></script>
    <script src="/Scripts/jquery.DonutWidget.min.js"></script>
    <script src="/Scripts/jquery.magnific-popup.min.js"></script>
    <script src="/Scripts/main.js"></script>
</body>
</html>