﻿@{
    ViewBag.Title = "iletisim";
}
<!doctype html>
<html lang="tr-TR">

<head>



    <title>İletişim Formu</title>
    <link href="css/font-awesome.min(iletisim).css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/style(iletisim).css" rel="stylesheet" type='text/css' media="all" />
</head>

<body>
    <address>
        HÜSEYİN FATİH KAZAN<br />
        SAKARYA ÜNİVERSİTESİ<br />
        <p>huseyin.kazan@ogr.sakarya.edu.tr</p>
        ARDA VURAL<br />
        SAKARYA ÜNİVERSİTESİ<br />
        <p>arda.vural@ogr.sakarya.edu.tr</p>
        UYGAR AHMET SAPMAZ<br />
        SAKARYA ÜNİVERSİTESİ<br />
        <p>uygar.sapmaz@ogr.sakarya.edu.tr</p>
    </address>

    <div class="content-w3ls">
        <div class="content1-agile">
            <div class="info-w3l">
                <h2 class="wthree">Bizimle İletişime Geçin</h2>
                <form action="#" method="post" class="form-agileits">
                    <input type="text" id="username" name="username" placeholder="İsim" title="Lütfen isminizi giriniz." required=""><br>
                    <input type="email" id="email" name="email" placeholder="mail@example.com" title="Lütfen Mailinizi giriniz." required=""><br>
                    <textarea id="message" name="message" placeholder="Mesajınız" title="Lütfen Mesajınızı Giriniz."></textarea><br>
                    <input type="submit" class="sign-in" href="index.html" value="Gönder">

                </form>
            </div>
        </div>
        <div class="content2-agile">

        </div>
        <div class="clear"></div>
    </div>
</body>
</html>