﻿@{
    ViewBag.Title = "Home Page";
}
@{
    Layout = null;
}
<html>
<head>
    <title>@ViewBag.Title - UAF TRAVEL</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @* burdaann*@
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" href="img/logoo.png">
    <meta name="author" content="ArdaVural">
    <meta name="description" content="WebProje">
    <meta name="keywords" content="Brezilya">
    <meta charset="UTF-8">
    <title>Brazil</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">

    <!--CSS============================================= -->
    <link rel="stylesheet" href="/Content/linearicons.css">
    <link rel="stylesheet" href="/Content/font-awesome.min.css">
    <link rel="stylesheet" href="/Content/jquery.DonutWidget.min.css">
    <link rel="stylesheet" href="/Content/bootstrap.css">
    <link rel="stylesheet" href="/Content/owl.carousel.css">
    <link rel="stylesheet" href="/Content/main.css">
    <link rel="stylesheet" href="/Content/slider.css">
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("UAF TRAVEL", "Index_eng", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index_eng", "Home")</li>
                    <li>@Html.ActionLink("Packets", "kullaniciPaket_eng", "paket_eng")</li>
                    <li>@Html.ActionLink("Create Package", "Index", "paketSecimi_eng.aspx")</li>
                    <li>@Html.ActionLink("Contact", "Index_eng", "Page")</li>
                </ul>
            </div>
        </div>
    </div>
    <div>
        <!-- Anasayfa Slider Başlangıç -->
        <script src="/Scripts/jssor.slider-27.1.0.min.js" type="text/javascript"></script>
        <script type="text/javascript">
            jssor_1_slider_init = function () {
                var jssor_1_options = {
                    $AutoPlay: 1,
                    $SlideDuration: 500,
                    $SlideEasing: $Jease$.$OutQuint,
                    $ArrowNavigatorOptions: {
                        $Class: $JssorArrowNavigator$
                    },
                    $BulletNavigatorOptions: {
                        $Class: $JssorBulletNavigator$
                    }
                };
                var jssor_1_slider = new $JssorSlider$("jssor_1", jssor_1_options);
                var MAX_WIDTH = 3000;

                function ScaleSlider() {
                    var containerElement = jssor_1_slider.$Elmt.parentNode;
                    var containerWidth = containerElement.clientWidth;

                    if (containerWidth) {

                        var expectedWidth = Math.min(MAX_WIDTH || containerWidth, containerWidth);

                        jssor_1_slider.$ScaleWidth(expectedWidth);
                    }
                    else {
                        window.setTimeout(ScaleSlider, 30);
                    }
                }
                ScaleSlider();
                $Jssor$.$AddEvent(window, "load", ScaleSlider);
                $Jssor$.$AddEvent(window, "resize", ScaleSlider);
                $Jssor$.$AddEvent(window, "orientationchange", ScaleSlider);
            };</script>
        <div id="jssor_1" style="position:relative;margin:0 auto;top:0px;left:0px;width:1300px;height:587px;overflow:hidden;visibility:hidden;">
            <div data-u="loading" class="jssorl-009-spin" style="position:absolute;top:0px;left:0px;width:100%;height:100%;text-align:center;background-color:rgba(0,0,0,0.7);">
            </div>
            <div data-u="slides" style="cursor:default;position:relative;top:0px;left:0px;width:1300px;height:660px;overflow:hidden;">

                <!-- Slider 1 Başlangıç -->
                <div data-p="225.00">
                    <img data-u="image" src="/img/b1.jpg" />
                    <section class="default-banner active-blog-slider">
                        <div class="item-slider relative" background-size:cover;>
                            <div class="overlay"></div>
                            <div class="row fullscreen justify-content-center align-items-center">
                                <div class="col-md-10 col-12">
                                    <div class="banner-content text-center" style="margin-top: 450px;">
                                        <h2 class="text-white mb-20 text-uppercase" style="margin-top: 200px"></h2>
                                        <h2 class="text-uppercase text-white" style="margin-bottom: 223px" ;> </h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <!-- Slider 1 Bitiş -->
                <!-- Slider 2 Başlangıç -->
                <div data-p="225.00">
                    <img data-u="image" src="/img/b2.jpg" />
                    <section class="default-banner active-blog-slider">
                        <div class="item-slider relative" background-size: cover;>
                            <div class="overlay"></div>
                            <div class="row fullscreen justify-content-center align-items-center">
                                <div class="col-md-10 col-12">
                                    <div class="banner-content text-center" style="margin-top: 450px;">
                                        <h2 class="text-white mb-20 text-uppercase" style="margin-top: 200px"></h2>
                                        <h2 class="text-uppercase text-white" style="margin-bottom: 223px" ;> </h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <!-- Slider 2 Bitiş -->
                <!-- Slider 3 Başlangıç -->
                <div data-p="225.00">
                    <img data-u="image" src="/img/b3.jpg" />
                    <section class="default-banner active-blog-slider">
                        <div class="item-slider relative" background-size:cover;>
                            <div class="overlay"></div>
                            <div class="row fullscreen justify-content-center align-items-center">
                                <div class="col-md-10 col-12">
                                    <div class="banner-content text-center" style="margin-top: 450px;">
                                        <h2 class="text-white mb-20 text-uppercase" style="margin-top: 200px"></h2>
                                        <h2 class="text-uppercase text-white" style="margin-bottom: 223px" ;> </h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <!-- Slider 3 Bitiş -->
                <!-- Slider 4 Başlangıç -->
                <div data-p="225.00">
                    <img data-u="image" src="/img/b4.jpg" />
                    <section class="default-banner active-blog-slider">
                        <div class="item-slider relative" background-size:cover;>
                            <div class="overlay"></div>
                            <div class="row fullscreen justify-content-center align-items-center">
                                <div class="col-md-10 col-12">
                                    <div class="banner-content text-center" style="margin-top: 450px;">
                                        <h2 class="text-white mb-20 text-uppercase" style="margin-top: 200px"></h2>
                                        <h2 class="text-uppercase text-white" style="margin-bottom: 223px" ;> </h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <!-- Slider 4 Bitiş -->

                <div data-p="225.00">
                    <img data-u="image" src="/img/b5.jpg" />
                    <section class="default-banner active-blog-slider">
                        <div class="item-slider relative" background-size:cover;>
                            <div class="overlay"></div>
                            <div class="row fullscreen justify-content-center align-items-center">
                                <div class="col-md-10 col-12">
                                    <div class="banner-content text-center" style="margin-top: 450px;">
                                        <h2 class="text-white mb-20 text-uppercase" style="margin-top: 200px"></h2>
                                        <h2 class="text-uppercase text-white" style="margin-bottom: 223px" ;> </h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>

            </div>

            <div data-u="navigator" class="jssorb032" style="position:absolute;bottom:12px;right:12px;" data-autocenter="1" data-scale="0.5" data-scale-bottom="0.75">
                <div data-u="prototype" class="i" style="width:16px;height:16px;">
                    <svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                        <circle class="b" cx="8000" cy="8000" r="5800"></circle>
                    </svg>
                </div>
            </div>
            <div data-u="arrowleft" class="jssora051" style="width:65px;height:65px;top:0px;left:25px;" data-autocenter="2" data-scale="0.75" data-scale-left="0.75">
                <svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                    <polyline class="a" points="11040,1920 4960,8000 11040,14080 "></polyline>
                </svg>
            </div>
            <div data-u="arrowright" class="jssora051" style="width:65px;height:65px;top:0px;right:25px;" data-autocenter="2" data-scale="0.75" data-scale-right="0.75">
                <svg viewbox="0 0 16000 16000" style="position:absolute;top:0;left:0;width:100%;height:100%;">
                    <polyline class="a" points="4960,1920 11040,8000 4960,14080 "></polyline>
                </svg>
            </div>
        </div>
        <script type="text/javascript">jssor_1_slider_init();</script>
        <!-- Anasayfa Slider Bitiş -->

        <script src="/Scripts/jquery-2.2.4.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
        <script src="/Scripts/bootstrap.min.js"></script>
        <script src="/Scriptsjs/jquery.ajaxchimp.min.js"></script>
        <script src="/Scripts/parallax.min.js"></script>
        <script src="/Scripts/owl.carousel.min.js"></script>
        <script src="/Scripts/jquery.sticky.js"></script>
        <script src="/Scripts/jquery.DonutWidget.min.js"></script>
        <script src="/Scripts/jquery.magnific-popup.min.js"></script>
        <script src="/Scripts/main.js"></script>


        <div class="row">
            <div class="col-md-4">
                <h2>Gallery</h2>
                <p>
                    See the unique beauty of Brazil with photos.
                </p>
                <p><a class="btn btn-default" @Html.ActionLink("Gallery", "galeri", "Home")</a></p>
            </div>
            <div class="col-md-4">
                <h2>Information</h2>
                <p>Brazil click for information.</p>
                <p><a class="btn btn-default" @Html.ActionLink("Information", "bilgiler", "Home")</a></p>
            </div>
            <div class="col-md-4">
                <h2>
                    Brazil on the map
                </h2>
                <p>
                    View Brazil on the map
                </p>
                <iframe src="https://www.google.com/maps/embed?pb=" width="300" height="175" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
        </div>
</body>
</html>









