﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>dil</title>
</head>
<body>
    <div>
    </div>
    <div>
        <ul>
        <li>
             <a href="~/anaSayfa/giris"><img src="~/img/türk.png" height="100" width="200">    </a>
             <a href="~/anaSayfa/giris_eng"><img src="~/img/ingiliz.jpg" height="100" width="200"></a>

</li>
        </ul>
        
    </div>
</body>
</html>
