﻿@model webÖdev.Models.paket_secimi

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>paket_secimi</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Rio_de_Janeiro)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Rio_de_Janeiro)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Brasilia)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Brasilia)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Salvador)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Salvador)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Curitiba)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Curitiba)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Fortaleza)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Fortaleza)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Sao_Paulo)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Sao_Paulo)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
