﻿@model IEnumerable<webÖdev.Models.paket_secimi>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>


   









    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Rio_de_Janeiro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brasilia)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Salvador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Curitiba)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fortaleza)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sao_Paulo)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Rio_de_Janeiro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brasilia)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Salvador)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Curitiba)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fortaleza)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sao_Paulo)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
                @Html.ActionLink("Details", "Details", new { id=item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.ID })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
