﻿@model webÖdev.Models.paket

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>paket</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.gun1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gun1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gun2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gun2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gun3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gun3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gun4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gun4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gun5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gun5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gun6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gun6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gun7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gun7)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gun8)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gun8)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gun9)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gun9)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.gun10)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.gun10)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fiyatlar.gider1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fiyatlar.gider1)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
