﻿@model webÖdev.Models.paket

@{
    ViewBag.Title = "Details";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Detaylar</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("UAF TRAVEL", "giris", "anaSayfa", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Ana Sayfa", "giris", "anaSayfa")</li>
                    <li>@Html.ActionLink("Paketler", "Index", "paket")</li>
                    <li>@Html.ActionLink("İletişim", "defaultIletisim", "Page")</li>
                    <li>@Html.ActionLink("Üye Ol", "Index", "uyeOl.aspx")</li>
                    <li>@Html.ActionLink("Oturum Aç", "Index", "KullaniciGirisi.aspx")</li>
                </ul>
            </div>
        </div>
    </div>
    <h2>Detaylar</h2>

    <div>
        <h4>paket</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.gun1)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.gun1)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.gun2)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.gun2)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.gun3)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.gun3)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.gun4)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.gun4)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.gun5)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.gun5)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.gun6)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.gun6)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.gun7)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.gun7)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.gun8)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.gun8)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.gun9)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.gun9)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.gun10)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.gun10)
            </dd>
            <dd>
                @Html.DisplayFor(model => model.fiyatlar.gider1)
            </dd>
            <dd>
                @Html.DisplayFor(model => model.fiyatlar.gider2)
            </dd>
            <dd>
                @Html.DisplayFor(model => model.fiyatlar.gider3)
            </dd>
            <dd>
                @Html.DisplayFor(model => model.fiyatlar.gider4)
            </dd>
            <dd>
                @Html.DisplayFor(model => model.fiyatlar.gider5)
            </dd>
            <dd>
                @Html.DisplayFor(model => model.fiyatlar.gider6)
            </dd>
            <dd>
                @Html.DisplayFor(model => model.fiyatlar.gider7)
            </dd>
            <dd>
                @Html.DisplayFor(model => model.fiyatlar.gider8)
            </dd>
            <dd>
                @Html.DisplayFor(model => model.fiyatlar.gider9)
            </dd>
            <dd>
                @Html.DisplayFor(model => model.fiyatlar.gider10)
            </dd>
        </dl>
    </div>
    <p>
        @Html.ActionLink("Listeye Geri Dön", "Index")
    </p>
</body>
</html>