﻿@model IEnumerable<webÖdev.Models.paket>

@{
    Layout = null;
    ViewBag.Title = "paket";

}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title Hazır Paketler</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("UAF TRAVEL", "giris", "anaSayfa", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Ana Sayfa", "giris", "anaSayfa")</li>
                    <li>@Html.ActionLink("Paketler", "Index", "paket")</li>
                    <li>@Html.ActionLink("İletişim", "defaultIletisim", "Page")</li>
                    <li>@Html.ActionLink("Üye Ol", "Index", "uyeOl.aspx")</li>
                    <li>@Html.ActionLink("Oturum Aç", "Index", "KullaniciGirisi.aspx")</li>
                </ul>
            </div>
        </div>
    </div>

    <h2>Hazır Paketler</h2>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.gun1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gun2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gun3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gun4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gun5)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gun6)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gun7)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gun8)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gun9)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.gun10)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.fiyatlar.gider1)
                </th>*@
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.gun1)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.gun2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.gun3)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.gun4)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.gun5)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.gun6)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.gun7)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.gun8)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.gun9)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.gun10)
                </td>
            </tr>
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.fiyatlar.gider1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fiyatlar.gider2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fiyatlar.gider3)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fiyatlar.gider4)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fiyatlar.gider5)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fiyatlar.gider6)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fiyatlar.gider7)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fiyatlar.gider8)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fiyatlar.gider9)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.fiyatlar.gider10)
                </td>
                @*<td>
                        @Html.DisplayFor(modelItem => item.fiyatlar.gider1)
                    </td>*@
                <td>

                    @Html.ActionLink("Detaylar", "Details", new { id = item.mevsimID }) |

                </td>
            </tr>
        }

    </table>
</body>
</html>