﻿@*dur*@
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - İletişim</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="height: 51px;font-weight:700 ;color:black;background-image:url(/img/arkaa.jpg)">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("UAF TRAVEL", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Ana Sayfa", "Index", "Home")</li>
                    <li>@Html.ActionLink("Paketler", "kullaniciPaket", "paket")</li>
                    <li>@Html.ActionLink("Paket Oluştur", "Index", "paketSecimi.aspx")</li>
                    <li>@Html.ActionLink("İletişim", "Index", "Page")</li>
                </ul>
            </div>
        </div>
    </div>
    <p>
        HÜSEYİN FATİH KAZAN<br />
        SAKARYA ÜNİVERSİTESİ<br />
        huseyin.kazan@ogr.sakarya.edu.tr<br />
        ARDA VURAL<br />
        SAKARYA ÜNİVERSİTESİ<br />
        arda.vural@ogr.sakarya.edu.tr<br />
        UYGAR AHMET SAPMAZ<br />
        SAKARYA ÜNİVERSİTESİ<br />
        uygar.sapmaz@ogr.sakarya.edu.tr
    </p>

    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "contact-form", action = "" }))
    {
        <input type="text" name="Name" placeholder="Lütfen isminizi giriniz..." /><br /><br />
        <input type="text" name="Email" placeholder="Lütfen epostanızı giriniz..." /><br /><br />
        <input type="text" name="Subject" placeholder="Konu" /><br /><br />
        <input type="text" name="Message" placeholder="Mesajınız..." /><br /><br />
        <input type="submit" value="Gönder" class="btn btn-danger" />
    }
</body>
</html>
